

.navbar {
    position: sticky;
    top:5;  
    width: 99%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    margin: 0;
    border-radius: 8px;
    .navbar_list {
      list-style: none;
      display: flex;
      gap: 20px;
      .list_item {
        text-transform: capitalize;
        padding: 1rem;
        text-decoration: none;
          color: #000;
        cursor: pointer;
        transition: 0.3s all ease;
        font-weight: 600;
        &:hover {
          background-color: #1aacac;
          color: #fff;
          border-radius: 8px;
        }
      }
    }
  }


/*
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}
body {
  background: #000;
  min-height: 200vh;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
}
header .navbar_brand{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

header ul li{
  position: relative;
  list-style: none;
}

header ul li .list_item  {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
*/